html,
body {
  margin: 0;
  padding: 0;
}

body > canvas {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 1px solid black;
}

body > form {
  text-align: right;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 10000;
  background: white;
}
